//Importing, multiple imports
@import "./resets", "./variables";

// Mixins
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

// Media Query Mixin
@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

body {
  background-color: $bg-color;
}

.small {
  font-size: map-get($font-sizes, "small");
}

.medium {
  font-size: map-get($font-sizes, "med");
}

.large {
  font-size: map-get($font-sizes, "large");
}

// Nesting
.container {
  @include flex(center, center);
  height: 100px;
  width: 50%;

  &__item {
    height: 100%;
    width: 100%;
    background-color: $item-color;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.light {
  @include theme($light-theme: true);
}
